@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
    ViewData["Title"] = "Về chúng tôi";
}

<p>@ViewBag.Message</p>
<p>Tìm hiểu thêm về cửa hàng thể thao của chúng tôi.</p>