@{
	ViewData["Title"] = "Home Page";
}
<div class="text-center">
	<h1 class="display-4">Chào mừng đến với Cửa hàng Thể thao!</h1>
	<p>
		Tìm hiểu về <a href="https://docs.microsoft.com/aspnet/core">
			xây
			dựng ứng dụng Web với ASP.NET Core
		</a>.
	</p>
	<img src="~/imgs/logo.png" alt="Test Image" class="custom-image" />
</div>